.cal-area{
    display: flex;
    justify-content: center;
}

.calculator{
    width: 395px;
    height: 548px;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    padding: 10px 1px 30px 0px;
    border-radius: 37px;
    margin-top: 28px;
    background-color: black;
}
.screen{
    background-color: white;
    height: 128px;
    border: 1px solid rgb(186, 186, 186);
    margin: 59px 15px 16px 15px;
    border-radius: 10px;
}



.layer button,.numKeys button{
    width: 67px;
    height: 64px;
    margin: 7px;
    font-size: 26px;
    background-color: #9a9a9a;
    color:black;
    border-radius: 50px;
    border: 0px;
}

.numKeys button{
 
    background-color: #232323;
    color: white;

}
.function_Keys button{
    width: 67px;
    height: 64px;
    margin: 7px;
    font-size: 26px;
    border-radius: 50px;
    background-color: #232323;
    color: white;
    border: 0px;
}
.layer,.function_Keys,.numKeys{
    display: flex;
    justify-content: center;

}
.orange-key{
    color: white !important ;
    background-color: orange !important;
}
.sum{
    width: 147px !important;
}

