.cal-area{
    display: flex;
    justify-content: center;
}

.calculator{
    width: 550px;
    height: 548px;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    padding: 10px 1px 30px 0px;
}
.screen{
    background-color: white;
    height: 55px;
    border: 1px solid rgb(186, 186, 186);
    margin: 10px 10px 16px 10px;
    border-radius: 3px;

}



.layer button{
    width: 30px;
    height: 40px;
    padding: 34px 46px 59px 31px;
    margin: 10px;
    font-size: 26px;
    background-color: black;
    color:white;
    border-radius: 5px;
    box-shadow: black 5px 7px 6px 0px;


}
.function_Keys button{
    width: 50px;
    height: 78px;
    margin: 5px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: black 5px 7px 6px 0px;
}
.layer,.function_Keys{
    display: flex;
    justify-content: center;

}

